/* 4 - External CSS*/
body{
    padding-bottom: 500px;
}

h3{
    color: green;
}

/* Classes */
.paragraph{
    background-color: black;
    color: aqua;
    padding: 5px;
}

/* Id */
#exclusive-title{
    background-color: blueviolet;
    color: yellow;
    padding: 20px;
}

/* Multiplas regras, ordem do css */
h2{
    border-bottom: 2px solid red;
}

.titulo{
    border-bottom: 5px solid blue;
}

#algum-titulo{
    border-bottom: 8px solid green;
}

/* Multiplas regras, ordem do css */
.color-name{
    color: rgb(255, 0, 0);
}

/* Cores hexadecimais */
.hex{
    color: #55a398;
}

/* Mais sobre hexadecimais */
.hex-simp{
    color: #333;
}
.hex-simp-2{
    color: #a5f;
}

/* Cores RGB */
.RGB{
    color: rgb(21, 89, 09);
}

/* Cores RGBa */
.RGBa{
    color: rgba(99, 87, 96, 0.589);
}

/* Cores HSL */
.HSL{
    color: hsl(89, 100%, 33%);
}

/* Cores Background */
.bg{
    background-color: #000;
    color: #fffb00;
}

/* Background opacidade */
.bg-opa{
    background-color: #a5f;
    opacity: 0.2;
}

/* RGB Background */
.bg-rgb{
    background-color: hsla(172, 31%, 49%, 0.658);
}

/* background-image  */
.bg-img{
    background-image: url(../img/image.png);
    color: white;
    padding: 10px;
}

/* Centralizar background-image */
.not-centered, .centered{
    width: 400px;
    height: 400px;
    background-image: url(../img/image\ copy.png);
}

.centered{
    background-position: center;
    background-size: cover;
}

/* largura e altura */
.height-width{
    height: 200px;
    width: 100px;
    background-color: purple;
}

.height-width{
    height: 100px;
    width: 200px;
    background-color: red;
}

/* padding */
.padding{
    padding: 20px;
}

/* padding individual */
.padding-ind{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

/* padding individual */
.padding-short{
    padding: 6px 12px 18px 24px;
}

.padding-short-2{
    padding: 10px 20px; /*padding: 10px 20px 10px 20px;*/
}

/* padding com width */
.sem-border-box{
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
}

.border-box{
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* Borda */
.borda{
    border: 5px solid red;
}

.borda-2{
    border: 2px dotted blue;
}

/* Borda individual */
.borda-left{
    border-left: 2px solid red;
}

.borda-bottom{
    border-left: 5px solid royalblue;
}

/* border-radius */
.radius{
    border: 5px solid blue;
    border-radius: 10px;
}

.radius{
    background-color: #000;
    border-radius: 10px;
}

/* margin */
.margin{
    margin: 20px;
    background-color: #333;
}

.margin-top{
    margin-top: 50px;
    background-color: #000;
}

.margin-short{
    margin: 5px 10px 20px 30px;
}

/* box-model */
.box-model{
    margin: 20px;
    padding: 15px 25px;
    border: 3px solid #845;
    border: 7px;
    width: 200px;
    height: 400px;
}

/* text-align */
.text-align{
    text-align: center;
}

/* text-deco */
.underline{
    text-decoration: underline;
}

.line{
    text-decoration: line-through;
}

.none{
    text-decoration: none;
    color: red;
}

/* text-trans */
.upper{
    text-transform: uppercase;
}

.lower{
    text-transform: lowercase;
}

/* espaçamento de letra */
.spacing{
    letter-spacing: 30px;
}

/* font */
.serif{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sans-serif{
    font-family: Arial, Helvetica, sans-serif
}

.monospace{
    font-family: 'Courier New', Courier, monospace;
}

.cursive{
    font-family: cursive;
}

.fantasy{
    font-family: fantasy;
}

/* font-style */
.italico{
    font-style: italic;
}

.oblico{
    font-style: oblique;
}

/* font-weight */
.thin{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.bold{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.bolder{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

/* font-size */
.small{
    font-size: 6px;
}

.big{
    font-size: 78px;
}

/* display */
.inline-box{
    width: 50px;
    height: 50px;
    background-color: lime;
    margin: 10px;
    display: inline-block;
}

.block{
    background-color: black;
    display: block;
    margin: 10px;
}

/* escondido */
.escon{
    display: none;
}

/* position static */
.static{
    position: static;
    background-color: green;
    height: 100px;
    width: 100px;
}

/* position relative */
.relative{
    position: relative;
    background-color: blue;
    height: 100px;
    width: 100px;
    top: 100px;
    left: 40px;
}

/* position absolute */
.absolute{
    position: absolute;
    background-color: red;
    height: 100px;
    width: 100px;
    top: 2px;
    left: 2px;
}

/* position relative com absolute */
.ra-r{
    width: 300px;
    height: 300px;
    border: 2px solid red;
    margin-top: 120px;
    position: relative;
}

.ra-a1, .ra-a2{
    width: 50px;
    height: 50px;
    background-color: #333;
    position: absolute;
}

.ra-a1{
    top: 10px;
    left: 10px;
}

.ra-a2{
    bottom: 10px;
    right: 10px;
}

/* position fixed */
.fixed{
    width: 100px;
    height: 100px;
    background-color: brown;
    border: 2px solid blue;
    position: fixed;
    top: 50px;
    right: 50px;
}

/* position sticky */
.sticky{
    width: 100px;
    height: 100px;
    background-color: #994;
    border: 2px solid green;
    position: sticky;
    top: 10px;
}

/* Z-index */
.absolute3, .absolute4, .absolute5{
    width: 50px;
    height: 50px;
    background-color: #123;
    position: absolute;
}

.absolute3{
    top: 0;
    left: 0;
    z-index: 3;
}

.absolute4{
    top: 10px;
    left: 10px;
    background-color: #246;
    z-index: 2;
}

.absolute5{
    top: 40px;
    left: 40px;
    background-color: #55a398;
    z-index: 1;
}